---
// const {title} = Astro.props;
const {title,description, imageURL} = Astro.props;
// const defaultDescription = ''
// if you leave it blank, Google will pick it up for you. or you can write your own
const defaultDescription = 'This is demo site for example'

const pageTitle = title + " | " + "Some Text e.g(Astro Demo)"
const pageDescription = description || defaultDescription
console.log(Astro.canonicalURL)
const canonicalURL = Astro.canonicalURL.href
// It will give you the canonical URL of the page.
console.log(Astro.canonicalURL) 
// we need to give absolute path to the image file since twitter / fb doesn't know about imageURL alone.
// Now you should see the full image file link in console.log
console.log(Astro.canonicalURL.origin +'/' +imageURL)  
// alternatively
const OGImageURL = imageURL
  ? `${Astro.canonicalURL.origin}/images/${imageURL}`
  : `${Astro.canonicalURL.origin}/images/fallback.jpg`
---


<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- todo How can we make title something different for every page??? The easiest way to do that is to pass the properties -->

	<!-- <title>{htitle}</title> -->
	<title>{title}</title>
    <meta name="title" content={pageTitle}>
    <meta name="description" content={pageDescription}>
	<link rel="canonical" href={Astro.canonicalURL.href} />
	<!-- If you inspect the page and see head section , you will see website address in href-->

	<!-- OG -->

	<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.canonicalURL.href} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={pageDescription} />
<meta property="og:image" content={OGImageURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.canonicalURL.href} />
<meta property="twitter:title" content={pageTitle} />
<meta property="twitter:description" content={pageDescription} />
<!--  This is for image if you have for your post. -->
<meta property="twitter:image" content={OGImageURL} />